html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 80%;
  font: caption;
  background-color: #f4f7f8;
}

p {
  margin: 1em 2em;
}

#content {
  height: 80%;
  margin: 2em 2em 0 2em;
  border: 0.5em solid #dde4e9;
  transition: background-color 0.2s ease-out;
}

#content[contenteditable="true"] {
  background-color: white;
  transition: background-color 0.2s ease-in;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}
